@model TAI_Forum.Models.MainViewModel

<select id="selectBox" class="selectpicker searchBox" data-live-search="true" title="Szukaj tagów...">
    @foreach (var t in Model.TagsList)
    {
        <option>@t</option>
    }
</select>
<input type="button" class="btn searchBox" value="Szukaj" id="searchButton" />