<select class="selectpicker searchBox" data-live-search="true" title="Szukaj tagów...">
    <option>derp1</option>
    <option>derp2</option>
    <option>derp3</option>
    <option>derp4</option>
    <option>derp5</option>
    <option>derp6</option>
</select>